<!DOCTYPE html>
<html>
    <head>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
        <script type="text/javascript" charset="utf-8">
            var socket = io.connect('http://' + document.domain + ':' + location.port);

            socket.on('connect', function(data) {
                socket.emit('connection', {data: 'Client Connected'});
                socket.emit('join', {room: 'egg_maker'});
            });

            socket.on('cook', function(data){
                console.log('cook');
                console.log(data);
                socket.emit('cook', {cooking: true});
            })

            socket.on('message', function(data){
                console.log('message');
                console.log(data);
            })
        </script>
    </head>
    <body>

    </body>
</html>
